.all {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 1em;
}

.item {
  width: 100%;
  margin: 5px;
}

.date {
  width: 100%;
}

.button {
  width: 100%;
  margin: 5px;
}

.ant-calendar-picker {
  width: auto !important;
}
