.menu {
  text-align: center;
  background-color: #001529;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 33%;
}

.icon {
  font-size: 500px;
  color: white;
}
