.icon {
  font-size: 50px;
}

.text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e9d8ae;
  margin: 0;
}

.card {
  background-color: #121212;
  border: solid 1px #e9d8ae;
  border-radius: 0.5rem;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.active {
  border: solid 1px green;
  filter: drop-shadow(0 2px 2px green);
  animation: mymove 4s infinite;
}

@keyframes mymove {
  50% {
    filter: drop-shadow(0 5px 10px green);
  }
}

.divider {
  background-color: #e9d8ae;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points {
  font-size: 2.1rem;
  font-weight: 600;
  color: #e9d8ae;
  margin: 0;
}

.globalScore {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 5px 10px;
  color: #e9d8ae;
  float: left;
}
