.name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0rem !important;
}

.icon0 {
  font-size: 60px;
  color: rgb(250 204 21);
}

.icon1 {
  font-size: 60px;
  color: rgb(153 27 27);
}

.score {
  font-size: 1.5rem;
  margin-bottom: 0rem !important;
}