.contentCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  min-height: 100vh;
  background-color: #121212;
  color: #e9d8ae;
  padding-left: 1rem;
  padding-right: 1rem;
}

.centerHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  height: 70vh;
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
