.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #e9d8ae;
  border-radius: 0.5rem;
  padding: 1% 6%;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: #202020;
}

.title {
  font-size: 2rem;
  color: #e9d8ae;
  margin: 0;
}
