.header {
  padding-top: 0.5rem;
  background-color: #212121;
}

.title {
  text-align: center;
  color: white !important;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 10px 0 0;
}
